@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body{
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principalCard{

    background-color: hsl(244, 38%, 16%);

    width: 1100px;
    display: flex;
    height: 445px;
    border-radius: 10px;
}

.info{
    margin: 50px;
    width: 568px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 
}


.info h2{
    font-weight: 700;
    font-size: 36px;
    color: white;
}

.info h2 span{
    color: hsl(277, 64%, 61%);
}

.info p{
    margin-top: 30px;
    font-size: 15px;
    color: #aaa;
}

.img{
    width: 537px;
    background:linear-gradient(rgba(131, 23, 131, 0.473),rgba(116 33 116 / 53%)), url("./images/image-header-desktop.jpg") no-repeat bottom center;
    border-radius: 0 10px 10px 0;
}

.preview{
    margin-top: 50px;
    display: flex;
}

.preview p{

    display: flex;
    flex-direction: column;
    margin: 0;
    font-weight: 13px;
    color: #aaa;

}

.preview p span{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.preview p + p{
    margin-left: 40px;
}

/* MOBILE */
/* 
@media (max-width: 1200px){
    .principalCard{
        width: 800px;
    }
}

@media (max-width: 800px){
    .principalCard{
        flex-direction: column;
        width: 500px;
        height: 800px;
    }

    .img{
        width: 100%;
        height: auto;
        background:linear-gradient(rgba(131, 23, 131, 0.473),rgba(116 33 116 / 53%)), url("./images/image-header-mobile.jpg") no-repeat bottom center;
    }
} */